<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MahApps.Metro" version="1.5.0" targetFramework="net452" />
  <package id="MahApps.Metro.Resources" version="0.6.1.0" targetFramework="net452" />
  <package id="Prism.Mvvm" version="1.1.1" targetFramework="net452" />
  <package id="UnityCommonServiceManager" version="1.0.1" targetFramework="net452" />
</packages>